/* STYLE FOR YOUR INDEX.HTML */
body{
    background-color: azure;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    position: absolute;
    top: 15px;
    left: 65vh;
}

h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 145%;
    position: absolute;
    left: 65vh;
    top: 120px;
}

.main-image{
    height: 40vh;
    width: 60vw:
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 85vh;
}

.image2{
    height: 40vh;
    width: 60vw:
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 45vh; 
}

.intro-p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    position: absolute;
    top: 525px;
    left: 45vh;
    padding-right: 10%;
}

.flex-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 15%;
}

.item{
    width: 175px;
    height: 100px;
    background: lightpink;
    margin: 1vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
}