/* STYLE FOR YOUR INDEX.HTML */
body{
    background-color: rgb(211, 255, 255);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    position: absolute;
    top: 15px;
    left: 450px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 145%;
    position: absolute;
    top: 120px;
    left: 450px;
    margin: 0;
}

.main-image{
    height: 40vh;
    width: 35vw;
    border: 2px solid black;
    position: absolute;
    top: 180px;
    left: 600px;
}

.image2{
    height: 40vh;
    width: 20vw;
    border: 2px solid black;
    position: absolute;
    top: 180px;
    left: 300px; 
}

.intro-p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    position: absolute;
    top: 525px;
    left: 300px;
    padding-right: 10%;
}

.flex-container{
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 15%;
}

.item{
    width: 175px;
    height: 100px;
    background: lightpink;
    margin: 1vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
}